img {
    width: 15cm;
    margin-bottom: 10px;
    
}

h1 {
    font-size: 100px;
    text-decoration: 2px solid black underline;
    margin: auto;
}

h3 {
    font-size: 40px;
}

body {
    text-align: center;
    
    margin: 30px;
    background-color: lightblue;
}

details {
    font-size: 25px;
    border: 2px solid black;
    width: 400px;
    margin: auto;
    padding: 10px;
}

button {
    font-size: 20px;
    position: sticky;
    top: 0;
    border: 3px solid black;
    width: fit-content;
    padding: 10px;
    margin-right: 1250px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}